//
//  Base.xcconfig
//  Rosetta
//
//  Created by Hendra Irawan on 21/07/26.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

PRODUCT_BUNDLE_IDENTIFIER = com.academy.hendraaaa.Rosetta
